# Virtual environment
tekra/
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment variables
.env
.env.local